<!DOCTYPE html>
<html lang=" ="en">

<head>
    <title>Love the Beach Boys</title>
    <meta charset=" ="utf-8" />

<style>

#container {
        width: 400px;
        height: 400px;
        position: relative;
        background: blue;
    }
#animate {
    width: 50px;
    height: 50px; 
    position: absolute;
    background-color: white;
}

#body {
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

<script>


</style>

</head>

<body>

</body>

    <div>
        <div>
            <ul>
                <a href="home" id="link"><li>HOME</li></a>
                <a href="#gallery"><li>GALLERY</li></a>
                <a href="#video"><li>VIDEO</li></a>
            </ul>
        </div>
    </div>

<!--End Nav-->

<!--HOME-->
<h2>
    <div id="home">
        <div>
            <span>Home</span>
            <p><font color="yellow">Growing up in California years ago was pretty amazing!  I grew up in what was 
                then a small desert town with a population of around 20,000.  You could walk around town or across the 
                entire town and feel safe.  Shortly after my family and I moved the town experienced a housing boom,
                and the town exploded to around 100,000.  The population has now increased to 157,000.  I will always 
                consider myself a California girl...but I don't think I would ever return to live there.</font></p>
        </div>
    </div>
</h2>




</html>"
