body {
    background-color: #FFE4B5;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-align: center;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #800000;
}

div {
    color: #B22222;
}

#menuBG {   /* Page 276  this shows the size of the menu*/
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 610px;
    height: 200px;
    float: center;
}

#totalPrice {  /*Format for jow the prices display*/
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {  /*Left side of the menu */
    width: 200px;
    height: 200px;
    float: left;
}

.center {  /*Center of the menu*/
    width: 200px;
    height: 200px;
    float: left;
    }

.right {  /*Right side of the menu */
    width: 200px;
    height: 200px;
    float: right;
}

#showText {   /* the text elements */
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {  /* Cart*/
    top: 0; margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}